.availability-service .main-img {
  width: 100%;
  max-width: 580px;
}

.availability-service .media-carousel {
  width: 100%;
  max-width: 580px;
  display: flex;
  overflow: scroll;
}

.availability-service .media-carousel img {
  width: 100%;
  max-width: 150px;
}

#event-page {
  display: flex;
  flex-direction: column;
}

#event-page #availability {
  box-shadow: 0px 0px 4px #eee;
}

#event-page #availability .onsched-availability {
  width: 100%;
}

#event-page #availability::before {
  position: absolute;
  content: 'START BOOKING';
  width: 340px;
  height: 40px;
  margin-top: -25px;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  padding-top: 7px;
}

#event-page #availability .onsched-availability .onsched-row .onsched-col {
  padding: 0 10px;
}

@media (min-width: 992px) {
  #event-page {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  #event-page #availability .onsched-availability .onsched-row {
    flex-direction: column !important;
  }
  
  #event-page #availability .onsched-availability {
    width: 340px !important;
  }
  
  #event-page #availability .onsched-availability .onsched-row .onsched-col {
    padding: unset !important;
  }
}
