/* Import new CSS file for each Component */
/* @import './layout.css'; */

/* Primary color scheme */
:root {
  --primary: rgb(60, 104, 180);
  --primary-dark: rgb(22 63 134);
}

/* Primary font theme */
body {
  font-family: Arial, Helvetica, sans-serif;
}
