

.onsched-container {

    --red-hue: 0;
    --yellow-hue: 60;
    --green-hue: 120;
    --cyan-hue: 180;
    --blue-hue: 240;
    --magenta-hue: 300;
    --main-hue: var(--cyan-hue);
    --bg-color: #fff;
    /* --text-color: #4d5055;*/
    --text-color: hsl(var(--main-hue),0%,39%);
    --btn-bg-color: hsl(var(--main-hue),0%,89%);
    --btn-text-color: hsl(var(--main-hue),0%,18%);

    /*filter: invert(1) brightness(0.6);*/

    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);




    max-width: 1200px;
    margin: 0 auto;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-family: 'Proxima Nova', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    /*color: #2c3e50;*/
    color: hsl(var(--main-hue), 50%, 10%);
    color: var(--text-color);
    background-color: #fff;
    margin-top: 0px;
}

.onsched-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
}

.onsched-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin:0 auto;
}

.onsched-chip, .onsched-container button.onsched-chip {
    display: inline-block;
    height: 32px;
    font-size: inherit;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    color: var(--btn-text-color);
    line-height: 32px;
    padding: 0 16px;
    border-radius: 16px;
    background-color: #e4e4e4;
    background-color: var(--btn-bg-color);
    margin-bottom: 6px;
    margin-right: 6px;
}
.onsched-chip .ampm {
    font-size:smaller;
    pointer-events:none;
}

.onsched-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.onsched-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.onsched-table td, .onsched-table th {
    padding: 8px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    cursor: default;
}

.onsched-table th {
    font-weight: bold;
}

.onsched-table.striped tr {
    border-bottom: none;
}

.onsched-table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.5);
}

.onsched-table.striped > tbody > tr > td {
    border-radius: 0;
}

.onsched-table.highlight > tbody > tr {
    transition: background-color .25s ease;
}

.onsched-table.highlight > tbody > tr:hover {
    background-color: rgba(242, 242, 242, 0.5);
}

.onsched-table.centered thead tr th, onsched-table.centered tbody tr td {
    text-align: center;
}

.onsched-chip.hoverable {
    transition: box-shadow .25s;
    text-decoration: none;
}

.onssched-chip.hoverable:hover {
    cursor: pointer;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.onsched-time-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.onsched-time-container .time {
    padding: 4px 4px;
    min-width: 80px;
    text-align: left;
    font-size:9px;
}

.onsched-time-container .ampm {
    font-size: smaller;
    margin-left: 3px;
}

.onsched-datepicker-week {

}

.onsched-week-selector {
    display: flex;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    padding: 8px 0;
    justify-content: space-between;
    font-size:14px;
}

.onsched-week-selector .date-selected {
    text-align:center;
    line-height:36px;
}
.onsched-week-selector button {
    -webkit-appearance: button;
    margin-top: 4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.onsched-week-selector .chevron {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.onsched-weekday-selector {

}
.onsched-weekday-selector table {
    font-size: 1rem;
    margin: 0 auto;
    width: 320px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    display:table;
}

.onsched-weekday-selector button {
    background-color: transparent;
    border: none;
    display: block;
    border-radius: 50%;
    padding: 0 0px;
    cursor: pointer;
    color: inherit;
    min-width:50px;
    line-height:48px;
    font-size:12px;
}

.onsched-weekday-selector button:disabled {
    color:#bdbdbd; 
}
.onsched-weekday-selector tr td {
    border-radius:50%;
}
.onsched-weekday-selector tr td.selected {
    background-color: #bdbdbd;
    color: #fff;
    display:table-cell;
}

.onsched-week-days {
    width: auto;
    margin: 0;
    padding: 4px 0;
    background-color: #ddd;
}
.onsched-week-days li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
/* Days (1-31) */
.onsched-month-days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.onsched-month-days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
}

.onsched-confirmation-container {
    width: 640px;
}

.onsched-availability {
    width:640px;
}

.onsched-available-times-container, .onsched-available-times {
    width: 210px;
    font-size: 12px;
    margin-top: 20px;
}

/* Highlight the "current" day */
.onsched-month-days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.onsched-progress-container {
    width: 120px;
    /*height:9px;*/
}
.onsched-calendar-header .onsched-progress-container {
    display: inline-flex;
}
.onsched-progress {
    position: relative;
    height: 8px;
    display: block;
    width: 100%;
    background-color: #e4e4e4;
    border-radius: 2px;
    margin: 0;
    overflow: hidden;
}

.onsched-progress .indeterminate {
    background-color: #bdbdbd;
}

.onsched-progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.onsched-progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.onsched-table {
    display:table;
    font-family:Roboto;
    font-size:14px;
}
.onsched-table .row {
    display: table-row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.onsched-table .icon-col {
    display:table-cell;
    width:60px;
}
.onsched-table .info-col {
    display: table-cell;
    padding: 15px 5px;
}
.onsched-table .info-col a {
    /*color:#039be5;*/ 
}
.onsched-table .info-col a:hover {
    color:#039be5;
}

.onsched-table .info-col .list-item-description {
    font-size:small;
}

.onsched-table .info-col .list-item-distance {
    font-size: small;
}

.onsched-search {
    width: 60%;
    margin: 0 auto;
}
.onsched-search-form {
    margin: 20px auto;
}
.onsched-search-form p {
    margin: 12px 0;
    font-size:smaller;
}
.onsched-search-form input[type=submit] {
    background: #0099ff;
    background: var(--blue);
    background: #eee;
    color: white;
    font: 'trebuchet ms', trebuchet;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border: 1px solid #eee;
    border: 1px solid #bdbdbd;
    margin-left:-1px;
    font-weight: bold;
    width:auto;
    cursor:pointer;
    outline:none;
}
.onsched-search-form input[type=text] {
    background: #fff;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border: 1px solid #bdbdbd;
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    width: 652px;
    outline: none;
    box-shadow: none;
}
.onsched-search-form input[type=text]:focus {
}
.onsched-search-wrapper {
    position: relative;
    display: inline-table;
    vertical-align:middle;
    border-collapse:separate;
}
.onsched-search-wrapper:after {
    content: '\F002';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #707070;
    right: 14px;
    top: 0px;
    height: 16px;
    padding: 10px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.onsched-filter-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 719px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.onsched-filter-wrapper {
    min-width: 150px;
    margin: 10px 5px;
}
.onsched-filter-wrapper label {
    display: block;
    margin-bottom: 5px;
}
.onsched-filter-wrapper input,
.onsched-filter-wrapper select {
    background: #fff;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
}

.onsched-list {
    width: 60%;
    margin: 0 auto;
}

.onsched-image-icon img {
    border-radius: 50%;
}

.onsched-circle-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: darkgray;
    background-color: #9e6600;
    background-color: var(--blue);
    background-color: #1976D2;
    color: white;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    font-family: Roboto;
}

.onsched-close-btn {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
    border-radius:50%;
}

.onsched-close-btn:hover {
    opacity: 1;
}

.onsched-close-btn:before, .onsched-close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #333;
}

.onsched-close-btn:before {
    transform: rotate(45deg);
}

.onsched-close-btn:after {
    transform: rotate(-45deg);
}
.onsched-booking-confirmation {
    margin: 20px 0;
}
.onsched-booking-confirmation p {
    padding: 4px 0;
}
.onsched-booking-confirmation h4 {
    padding: 4px 0;
}

.onsched-weekday-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
.onsched-weekday-row {
    display: table-row;
    height: 48px;
}
.onsched-weekday-col {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.onsched-business-name {
    font-weight:100;
    margin-bottom:4px;
}
.onsched-service-description {
    margin-bottom: 4px;
}
.onsched-date-selected {
    margin-bottom: 4px;
}
.onsched-no-available-times {
    margin-top:10px;
}
.onsched-available-times-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:20px;
    margin-top:20px;
}
.onsched-available-times-header .date-selected {
    margin-right:20px;
}
.onsched-available-times-header .date-selected .dow {
    width: 30px;
    text-align: center;
    padding: 4px;
}
.onsched-available-times-header .date-selected .dow {
    width: 30px;
    text-align: center;
    padding: 4px;
    cursor:default;
    text-transform: capitalize;
}
.onsched-available-times-header .date-selected .dom {
    background-color: #1a73e8;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor:default;
}
.onsched-available-times-header .service-name-duration {
    margin-top:4px;
    padding: 4px 0;
}
.onsched-available-times-header .service-description {
    /*font-style:italic;*/
    font-size:small;
}

.onsched-calendar-header {
    position:relative;
    display:flex;
    align-items:center;
    margin-bottom:8px;
    padding: 0 0;
}
.onsched-calendar-availability {
    display:flex;
}
.onsched-calendar {
    position: relative;
    width: 260px;
    color: inherit;
    background-color: inherit;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom:20px;
/*
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
*/
}
.onsched-calendar-prompt {
    font-weight: bold;
    margin-bottom: 4px;
    margin-top:6px;
}
.onsched-service-name {
    margin-bottom:4px;
}
.onsched-service-duration {
    font-size:smaller;
    margin-bottom:2px;
}
.onsched-calendar-title {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    width: 240px;
    text-transform: capitalize;
}

.onsched-calendar-grid {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-left:-5px;
}
.onsched-calendar-row {
    display: table-row;
    height: 20px;
}
.onsched-calendar-rowgroup {
    display: table-row-group;
}
.onsched-calendar-col {
    display: table-cell;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
    color: #70757a;
    color: #262626;
    text-align: center;
}
.onsched-calendar-row.onsched-weekdays {
    margin-bottom:4px;
}
.onsched-calendar-col.dow {
    color: #262626;
    color: #70757a;
    font-weight: 400;
    cursor: default;
    text-transform: uppercase;
    padding-bottom: 8px;
    padding-top: 8px;
}
.onsched-calendar-col.day {
    cursor:pointer;
    width:28px;
    height:28px;
}
.onsched-calendar-col .day {
    width: 28px;
    height: 28px;
    padding: 4px 4px;
    display: inline-block;
    line-height:20px;
    border-radius:50%;
}
.onsched-calendar-col .day:hover:not([disabled="disabled"]) {
    cursor: pointer;
    background-color: #dadce0;
}
.onsched-calendar-col .day.selected {
    background-color: #d2e3fc;
    color: #185abc;
}
.onsched-calendar-col .day.today, .onsched-calendar-col .day.today.selected {
    background-color: #1a73e8;
    color: #fff;
}

.onsched-timezone {
    margin-bottom: 0px;
    margin-left:-8px;
}

.onsched-timezone {
    position: relative;
    display: inline-block;
    width:260px;
}

.onsched-timezone:after {
    content: '\0025BC';
    font: normal normal normal 12px/1 FontAwesome;
    color: #707070;
    right: 8px;
    top: -8px;
    height: 26px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.onsched-timezone select.onsched-select {
    width:260px;
    font-weight:500;

}

.onsched-select {
    display: block;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 700;
    color: #444;
    line-height: 11px;
    padding: .6em 1.4em .5em .8em;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline:none;
    box-shadow:none;
}

.onsched-select::-ms-expand {
    display: none;
}

.onsched-select:hover {
    border: 1px solid lightgray;
    cursor: pointer;
}

.onsched-select:focus {
    /*color:gray;*/
    /* border: 1px solid lightgrey;*/
    color:#333;
    border: 1px solid #fff;
    border-color: #aaa;
    outline:none;
}

.onsched-select option {
    font-weight: normal;
    -webkit-appearance: none;
    color:#333;
    background-color:#fff;
    border: 1px solid #fff;
}
.onsched-select option:active {
    /*None of this doing anything?*/
    font-weight: normal;
    -webkit-appearance: none;
    color:#333;
    border: 1px solid #fff;
}

.onsched-container *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.onsched-wizard button.onsched-file-upload-btn {
    padding:10px;
    color:white;
    background-color: #009578;
    background-color: #242424;
    border: 1px solid #000;
    border-radius:5px;
    cursor: pointer;
}
button.onsched-file-upload-btn:hover {
    background-color: #00b28f;
    background-color: #aaa;
}
.onsched-file-upload-txt {
    margin-left:10px;
    font-family: sans-serif;
    color:#aaa;

}



@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

/*:not([disabled="disabled"])*/
.onsched-container button:not([disabled="disabled"]) {
    cursor: pointer;
}
.onsched-container button:disabled {
    color:#bdbdbd;
    font-weight:500;
}
.onsched-container button {
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.onsched-popup-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
.onsched-popup-shadow.is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.onsched-popup {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}
/*
.onsched-popup > * {
    padding: 4px 8px;
}
*/
.onsched-popup-header,
.onsched-popup-footer {
    background: var(--lightgray);
    background: #eee;
}
.onsched-popup-header {
    display: flex;
    align-items: center;
    justify-content: unset;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.onsched-popup-header .close-modal {
    font-size: 1.5rem;
}
.onsched-popup-content {
    width:600px;
}
.onsched-form-row.last {
    padding-bottom:20px;
}
.onsched-popup p + p {
    margin-top: 10px;
}
.onsched-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}
.onsched-alert.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.onsched-alert h4 span {
    color:#888888;
    margin-left:8px;
}
.onsched-alert p {
    padding:8px 0;
}
.onsched-alert .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.onsched-list .onsched-table .icon-col {
    vertical-align: middle;
    padding: 12px 0;
}
.onsched-list .onsched-table .info-col a.list-item.name {
    font-weight:700;
}

.onsched-appointment-table {
    border-spacing: 15px;
    text-align: left;
    margin-bottom: 15px;
}
#appointments-modal h3 {
    margin: 15px 15px 5px !important;
    border-top: 2px solid #ddd;
    padding-top: 15px;
}
#appointments-modal .onsched-popup-footer {
    padding: 15px;
    text-align: right;
}
#appointments-modal .onsched-popup-footer a {
    margin: 0 15px;
    cursor: pointer;
}
#appointments-modal .onsched-popup-footer a.disabled {
    opacity: .4;
    color: default !important;
}

@media(min-width: 992px) {
    .onsched-appointment-table {
        min-width: 700px;
    }
}

/* POPUP ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .onsched-popup {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .onsched-popup {
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .onsched-popup {
    transform: translateY(100%);
}

[data-animation="slideInOutTop"] .onsched-popup {
    transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .onsched-popup {
    transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .onsched-popup {
    transform: translateX(100%);
}

[data-animation="zoomInOut"] .onsched-popup {
    transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .onsched-popup {
    transform-origin: top left;
    transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .onsched-popup {
    animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .onsched-popup,
[data-animation="slideInOutTop"].is-visible .onsched-popup,
[data-animation="slideInOutLeft"].is-visible .onsched-popup,
[data-animation="slideInOutRight"].is-visible .onsched-popup,
[data-animation="zoomInOut"].is-visible .onsched-popup,
[data-animation="rotateInOutDown"].is-visible .onsched-popup {
    transform: none;
}


@keyframes mixInAnimations {
    0% {
        transform: translateX(-100%);
    }

    10% {
        transform: translateX(0);
    }

    20% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* OnSched forms */

.onsched-form {
    margin: 8px 12px;
}
.onsched-form-row {
    display:flex;
    margin-bottom:8px;
}
.onsched-form-row .onsched-col:not(:last-child) {
    margin-right: 20px;
}
.onsched-form-row .onsched-form-col:not(:last-child) {
    margin-right: 20px;
}
.onsched-form-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0 auto;
}
.onsched-form-col.multi {
    flex-direction: row;
    justify-content: space-between;
}

.onsched-form-row input[type=checkbox] {
    margin-right:6px;
}

.onsched-form-col input[type=checkbox] {
    position:relative;
    top:2px;
}
.onsched-form-wrapper {
    height: 100%;
    width: 73%;
    margin: auto;
}

.onsched-form fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
}
.onsched-form label {
    margin: .5em 0 .2em;
    font-size:12px;
}
.onsched-form a {
    font-size:12px;
    color:#006fc6;
    text-decoration: none;
    line-height: 24px;
}
.onsched-form a:hover {
    text-decoration: underline;
}
.onsched-form a:visited {
    text-decoration: none;
}
.onsched-form legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

/* Input checkbox and radio styles

.onsched-form input[type='checkbox'],
.onsched-form input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
}

.onsched-form input[type='checkbox']:after,
.onsched-form input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}

.onsched-form input[type='checkbox']:checked,
.onsched-form input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.onsched-form input[type='checkbox']:disabled,
.onsched-form input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
}

.onsched-form input[type='checkbox']:disabled:checked,
.onsched-form input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
}

.onsched-form input[type='checkbox']:disabled + label,
.onsched-form input[type='radio']:disabled + label {
    cursor: not-allowed;
}

.onsched-form input[type='checkbox']:hover:not(:checked):not(:disabled),
.onsched-form input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}

.onsched-form input[type='checkbox']:focus,
.onsched-form input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
}

.onsched-form input[type='checkbox']:not(.switch),
.onsched-form input[type='radio']:not(.switch) {
    width: 21px;
}

.onsched-form input[type='checkbox']:not(.switch):after,
.onsched-form input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
}

.onsched-form input[type='checkbox']:not(.switch):checked,
.onsched-form input[type='radio']:not(.switch):checked {
    --o: 1;
}

.onsched-form input[type='checkbox'] + label,
.onsched-form input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}

.onsched-form input[type='checkbox']:not(.switch) {
    border-radius: 7px;
}

.onsched-form input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
    transform: rotate(var(--r, 20deg));
}

.onsched-form input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
}

.onsched-form input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
}

.onsched-form input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
    transform: translateX(var(--x, 0));
}

.onsched-form input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
}

.onsched-form input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
}

.onsched-form input[type='radio'] {
    border-radius: 50%;
}

.onsched-form input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
    transform: scale(var(--s, 0.7));
}

.onsched-form input[type='radio']:checked {
    --s: .5;
}
 */

 /* OnSched Allocation Form */
 .onsched-form .onsched-repeat-weekdays {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 10px 0;
    width: 100%;
}
.onsched-form .onsched-repeat-weekdays input[type=checkbox] {
    margin-bottom: -14px;
    opacity: 0;
    cursor: pointer;
}
.onsched-form .onsched-repeat-weekdays label {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    padding: 10px 8.4px;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #d8d8de;
    color: #212529;
    font-weight: 600;
    cursor: pointer;
}
.onsched-form .onsched-repeat-weekdays label.selected {
    background-color: #1a73e8;
    color: #fff;
}
.onsched-form #interval {
    width: calc(100% - 55px);
}
.onsched-form #dwm-switch {
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -7px;
}

/* Input control styles */

.onsched-form input[type=color],
.onsched-form input[type=date],
.onsched-form input[type=datetime-local],
.onsched-form input[type=datetime],
.onsched-form input[type=email],
.onsched-form input[type=phone],
.onsched-form input[type=month],
.onsched-form input[type=number],
.onsched-form input[type=password],
.onsched-form input[type=search],
.onsched-form input[type=tel],
.onsched-form input[type=text],
.onsched-form input[type=time],
.onsched-form input[type=url],
.onsched-form input[type=week],
.onsched-form select,
.onsched-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    border: 1px solid #bdbdbd;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onsched-form .onsched-help-inline, .onsched-form-message-inline {
    display: inline-block;
    padding-left: .3em;
    color: #666;
    vertical-align: middle;
    font-size: .875em;
}



.onsched-form-aligned .onsched-control-group {
    margin-bottom: .5em;
}

.onsched-form-aligned .onsched-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.onsched-form .onsched-checkbox, .onsched-form .onsched-radio {
    margin: .5em 0;
    display: block;
}
.onsched-form.booking-form button[type=submit] {
    color: #fff;
    background-color: #1a73e8;
    /*border:solid 1px #333;*/
}
.onsched-booking-summary {
    margin: 8px 12px;
    font-size:smaller;
}
.onsched-booking-summary h4 {
    margin:3px;
    padding: 2px 0;
}
.onsched-booking-summary h5 {
    margin: 1px 4px;
    opacity: .8;
    padding: 2px 0;
}

.onsched-button, .onsched-form button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: none transparent;
    border: 1px solid #999;
    border: 1px solid #e0e0e0;
    border: 1px solid #dcdcdc;
    border: 1px solid #d8d8d8;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.onsched-form button:hover {
    border: 1px solid #909090;
}
.onsched-form button:focus {
    border: 1px solid #909090;
    outline:none;
}

.onsched-button-primary, .onsched-button-selected, a.onsched-button-primary, a.onsched-button-selected {
    background-color: #0078e7;
    color: #fff;
}

.onsched-form-aligned .onsched-controls {
    margin: 1.5em 0 0 11em;
}

/* Wizard css */
.onsched-wizard {
    padding: 24px;
}

.onsched-wizard.onsched-form .onsched-select {
    -webkit-appearance: menulist-button;
    height: 30px;
}

.onsched-wizard button {
    background-color:#1a73e8;
    color:#fff;
}

.onsched-wizard-section {
    margin-bottom: 12px;
    min-height:400px;
    display:none;
}
.onsched-wizard-nav {
    display: table;
    width: 100%;
    border-top:3px solid #efefef;
    padding: 12px 0;
}

.onsched-wizard-nav-status {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
.onsched-wizard-nav-buttons {
    display: table-cell;
    vertical-align: middle;
    text-align:right;
}
.onsched-wizard-nav-buttons button {
    display:inline-block;
}

.onsched-wizard-nav .step {
    position:relative;
    top: 10px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.onsched-wizard-nav .step.active {
    opacity: 1;
}

.onsched-wizard-nav .step.finish {
    background-color: #4CAF50;
}

.onsched-business-hours {
    display:table;
    width:100%;
}

.onsched-business-hours-row {
    display:table-row;
}

.onsched-business-hours-day, .onsched-business-hours-time {
    display:table-cell;
    padding:10px;
    text-align:center;
    line-height:24px;
}
.onsched-business-hours-time .closed {
    color:darkred;
    display:none;
}
.onsched-business-hours-time .hrs24 {
    display:none;
}
.onsched-business-hours-time select {
    width:100%;
}
.onsched-business-hours-tz {
    opacity: .6;
    margin:0 0 16px 0;
}

.onsched-dropdown {
    position: relative;
    display: inline-block;
}
button.onsched-dropdown-menu-button {
    background-color: #fff;
    color: #337ab7;
    border:none;
}
button.onsched-dropdown-menu-button:focus {
    border: none;
}
button.onsched-dropdown-menu-button:hover {
    border: none;
    text-decoration:underline;
}
button.onsched-dropdown-menu-button span {
    text-decoration: none;
}
button.onsched-dropdown-menu-button span.caret {
    display:inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.onsched-dropdown-menu {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ul.onsched-dropdown-menu li {
    margin:0;
}
ul.onsched-dropdown-menu li a {
    position:relative;
    text-decoration:none;
}
ul.onsched-dropdown-menu li a:hover {
    text-decoration: none;
    background-color:lightgrey;
}

.onsched-dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* OnSched Grid */


@media only screen and (max-width: 600px) {
    .onsched-container {
        max-width: 330px;
        margin: 0 auto;
    }

    .onsched-row {
        flex-direction: column;
    }

    .onsched-form-row {
        flex-direction: column;
    }
    .onsched-form-row .onsched-form-col:not(:last-child) {
        margin-right: 0px;
    }
    .onsched-form-col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        margin:0 0 10px 0;
    }

    .onsched-search {
        margin: 0;
        width: 100%;
    }
    .onsched-popup-content {
        width: 300px;
    }
    .onsched-search-form input[type=text] {
        font-size: 16px; /* this prevents autozoom resize on mobile*/
        width: 232px;
    }
    .onsched-search-form input[type=submit] {
        -webkit-appearance: none;
        font-size: 16px; /* this prevents autozoom resize on mobile*/
    }
    .onsched-search-wrapper:after {
        top: 2px;
        height: 16px;
    }
    .onsched-calendar {
        max-width: 320px;
        min-width:300px;
        font-size: 20px;
    }
    .onsched-calendar-grid {
        /*margin-left:-12px;*/
    }

    .onsched-calendar-col {
        font-size: 16px;
    }

    .onsched-calendar-col .day {
        width: 36px;
        height: 36px;
        line-height: 28px;
    }

    .onsched-calendar-header {
        /*margin-left: 12px;*/
        margin-right: 12px;
    }

    .onsched-available-times {
        font-size: 16px;
        max-width: 320px;
        min-width:300px;
        margin-top: 0;
    }

    .onsched-list {
        width: 100%;
        min-width: 300px;
        max-width:320px;
        margin: 0 auto;
    }

    .onsched-confirmation-container {
        width:300px;
    }

    .onsched-chip {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color:ButtonText;
        color:#262626;
        background-color:lightgray;
    }
    
    a.time.onsched-chip.hoverable {
        text-decoration: none !important;
    }
    .onsched-table .time-container .time.onsched-chip {
        width: 100px;
    }
    div.time-container {
        display: flex;
        flex-wrap: wrap;
    }
    .onsched-select {
        font-size: 16px;
        line-height:16px;
        -webkit-appearance: none;
    }
    .onsched-select option {
        -webkit-appearance: none;
    }

    .onsched-timezone {
        position: relative;
        display: inline-block;
        width:300px;
    }

    .onsched-timezone:after {
        content: '\0025BC';
        font: normal normal normal 12px/1 FontAwesome;
        color: #707070;
        right: 0;
        top: -2px;
        height: 26px;
        padding: 15px 0px 0px 8px;
        position: absolute;
        pointer-events: none;
    }

    .onsched-calendar-col.dow {
        text-transform: uppercase;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .onsched-calendar-prompt {
        font-size:18px;
    }
    .onsched-timezone select.onsched-select {
        max-width: 350px;
        min-width:300px;
        font-weight: 500;
    }

    .onsched-available-times-header {
        font-size:16px;
    }
    .onsched-available-times-header .date-selected .day {
        width:36px;
        height:36px;
        line-height:36px;
    }

    
}
