#stripe-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.stripe-product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  width: 100%;
  max-width: 500px;
  position: relative;
  z-index: 999;
}

.stripe-product-card button {
  width: 100%;
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px;
}

.stripe-product-description h3 {
  font-size: 1rem;
}

.stripe-product-description h5 {
  font-size: .9rem;
  font-weight: 500;
  opacity: .7;
}

.stripe-product-description img {
  border-radius: 10px;
  width: 100px;
  margin-right: 15px;
}

.InputContainer .InputElement {
  font-size: 2rem !important;
}

/* Payment form */

#stripe-payment-form,
.stripe-product-description {
  background: var(--primary);
  color: #fff;
  padding: 40px;
}

#stripe-payment-form h5 {
  font-weight: 200;
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.7;
}

.stripe-payment-form-details,
#onsched-appointment-modal,
.stripe-payment-form-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: var(--primary);
  border-radius: 4px;
  margin: 25px auto;
  box-shadow: 0px 0px 8px 0px #2c569f;
}

.stripe-payment-form-details .input-detail:not(:first-child) {
  border-top: 1px solid #ffffff30;
}

.stripe-payment-form-details .input-detail {
  padding: 10px 0;
  opacity: .7;
}

.stripe-payment-form-details .input-detail label {
  width: 75px;
  opacity: 0.8;
  font-weight: 200;
}

.stripe-payment-form-details .input-detail input {
  border: none;
  outline: none !important;
  background: transparent;
  color: #fff;
  width: calc(100% - 80px);
}

.stripe-payment-form-details .input-detail input::placeholder {
  color: #fff;
}

#onsched-appointment-modal button {
  margin-top: 20px;
}

#stripe-payment-form button,
#onsched-appointment-modal button {
  width: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px #2c569f;
  background: #32caca;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.StripeElement iframe {
  margin: 20px 0 !important;
}
