.back-btn {
  border: none;
  background: var(--primary);
  margin: 15px 15px 35px 0px;
  font-size: 1rem;
  cursor: pointer;
  outline: none !important;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.back-btn:hover {
  background-color: var(--primary-dark);
}

.back-btn:hover i {
  position: relative;
  animation: fadeIn 200ms 1 forwards;
}

@keyframes fadeIn {
  0% {left: 0px;}
  100% {left: -3px;}
}
